.portolio-holder {
    background: url('../../assets/img/Slider.svg') repeat-x top left / 100%;
    height: 800px;
    padding-top: 135px;
    height: 100%;
    margin-bottom: 124px;
}

.portfolio-tesimonial {
    background: url('../../assets/img/portfolio-arrow.svg') no-repeat -12px top;
    padding-top: 210px;
    h5 {
        font-size: 30px;
        line-height: 1.5em;
        margin-bottom: 20px;
    }
}

.testimonial-text {
    max-width: $testimonial-width;
    text-align: center;
    margin: auto;
    .name {
        font-size: 25px;
        span {
            color: $primary-color;
            font-size: 18px;
        }
    }
}